@import "tailwindcss";

@theme {
    --color-primary: #9747FF;
    --color-secondary: #C379F9;
    --color-background: #FFFFFF;
    --color-text: #212121;
    --color-border: #3F3D56;
    --color-accent: #B2B2B2;
}


.day{
    background: var(--color-accent);
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0 0 8 8 ;
    font-weight: 500;
    text-transform: capitalize;
}
.day:hover{
    background: var(--color-secondary);
}
.day:active{
    background: var(--color-primary);
}